{{extend 'layout.html'}}

<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<h2>Lista de Contactos</h2>
<table id="myTable" class="table table-striped" >
   <thead>
	   <tr>
		  <th>Id</th>
			<th>Número</th>
			<th>Mensaje de Texto (SMS)</th>
			<th>Estado del SMS</th>
		</tr>
		</thead>
		<tbody>
			{{for r in rws:}}
				<tr>
					<td>{{=r[0]}}</td>
					<td>{{=r[1]}}</td>
					<td>{{=r[2]}}</td>
					<td>{{=r[3]}}</td>
				{{pass}}
				</tr>
     </tbody>
</table>

<script type="text/javascript">
	$(document).ready(function(){
	$('#myTable').dataTable();
	});
</script>
