{{extend 'layout.html'}}

<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<h3>Lista de Contactos: {{=nombre}}</h3>
<table id="myTable" class="table table-striped" >
   <thead>
	   <tr>
		  <th>Id</th>
			<th>Número</th>
			<th>Mensaje de Texto (SMS)</th>
			<th>Fecha de Envio</th>
			<th>Fecha de Entrega</th>
			<th>Estado del SMS</th>
		</tr>
		</thead>
		<tbody>
			{{for r in rws:}}
				<tr>
					<td>{{=r[0]}}</td>
					<td>{{=r[1]}}</td>
					{{if len(r[2])>70:}} <td>{{=r[2][:70]}}</td> {{else:}} <td>{{=r[2]}}</td> {{pass}}
					<td>{{=r[4]}}</td>  
					<td>{{=r[5]}}</td>
					<td>{{=r[3]}}</td>
				</tr>
				{{pass}}
     </tbody>
</table>

<script type="text/javascript">
	$(document).ready(function(){
	$('#myTable').dataTable();
	});
</script>
