{{extend 'layout.html'}}

<div class="jumbotron" >
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<center><h3>Plataforma SMS</h3></center>
				<ol>
					<li>Crea una Lista</li>
					<li>Crea La Campaña</li>
				</ol>
                                
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<p>Video Como subir una campaña que incluya números y mensajes!</p>
			</div>
			<div class="col-sm-6" style="height=315px;">
				<iframe width="500" height="315" src="https://www.youtube.com/embed/FQcMalVBAVc" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<p>Video Como subir una campaña que incluya solo números! </p>
			</div>
			<div class="col-sm-6" style="height=315px;">
				<iframe width="500" height="315" src="https://www.youtube.com/embed/UedK7awejGs" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
