{{extend 'layout.html'}}

<style>

.jumbotron {
  background-color: ##17254800;
  color: #1f1e1e;
}
/*.fa-5x {
  font-size: 6em !important;
}*/

</style>


<div class="container">
<div class="jumbotron" >
	<!--<div class="container">-->
		<div class="row">
			<div class="col-sm-12">
				<center><h3>Plataforma SMS</h3></center>
				<p>Tienes dudas sobre como crear tus campañas de SMS! Mira los siguientes videos </p>
				<!--<ol>
					<li>Crea tu archivo CSV desde Excel</li>
					<li>Crea Una nueva lista desde el menu Lista</li>
					<li>Importa tu archivo CSV</li>
					<li>Crea La Campaña</li>
				</ol>-->
                                
			</div>
		</div>
		<div class="row">
			
			<div class="col-sm-6" style="height=315px;">
				<iframe width="500" height="315" src="https://www.youtube.com/embed/FQcMalVBAVc" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
			</div>
		
		
			<div class="col-sm-6" style="height=315px;">
				<iframe width="500" height="315" src="https://www.youtube.com/embed/UedK7awejGs" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
