{{extend 'layout.html'}}

<h2>Formulario Actualizar Nombre de Lista</h2>

<form enctype="multipart/form-data" role="form" action="{{=URL('default','lista')}}" method="post">
  <div class="form-group">
	    <label for="id"> Id:</label>
			<input  name="id" class="form-control" type="text" readonly="readonly" value={{=i}} >
	    <label for="nombre">Nombre Lista:</label>
			<input name="nombre" class="form-control" id="nombre" value={{=n}}>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>

