{{extend 'layout.html'}}

<h2>Formulario Subir Lista de Contactos </h2>
<h3>Importante tú archivo debe estar en Formato CSV !!!</h3>
<div class="radio">
  <label><input  type="radio" name="telefono" value=1>Archivo Contiene solo Números de Telefono</label>
</div>
<div id='wath-me' class="form-group">
	{{=form}}
</div>

<div id='show-me' style='display:none'>
	{{=form1}}
</div>
<script type='text/javascript'>
// <![CDATA[
jQuery(document).ready(function(){

$('input:radio[name="telefono"]').change(function(){
    if ($(this).is(':checked')){
					 $('#show-me').show();           
					 $('#wath-me').hide();           
			}
		else {
					$('#wath-me').show();   
					 $('#show-me').hide();           
					}

});

});

// ]]>
</script>
<!--
<script type='text/javascript'>
$(document).ready(function() {
   $('input[type="radio"]').click(function() {
	     	if($('#wath-me').attr('id') == 'watch-me') {
					 $('#show-me').show();           
					}

				else {
					$('#show-me').hide();   
					}
	});
});
</script>
-->
