body {
  /*min-height: 750px;*/
}

.navbar-static-top {
  margin-bottom: 0px;
}

.navbar-default {
    background-color: #172548 ;
    border-color: #337ab7;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-brand:hover {
    color: #337ab7;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
}

.navbar-default .navbar-toggle:hover {
    background-color: white;
}
.navbar-default .navbar-nav> .open>a:focus {
    color: #FFF;
}

#footer1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#172548; 
    color: #FFF;
    text-align: center;
}
.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px;
}